<form [formGroup]="companyForm">
    <label>Name: </label>
    <input type="text" formControlName="name">

    <div id="address">
        <label>Street: </label>
        <input type="text" formControlName="street">
        <br>
        <label>Street number: </label>
        <input type="text" formControlName="streetNumber">
        <br>
        <label>City: </label>
        <input type="text" formControlName="city">
        <br>
        <label>Country: </label>
        <input type="text" formControlName="country">
        <br>
        <label>Longitude: </label>
        <input type="number" formControlName="longitude">
        <br>
        <label>Latitude: </label>
        <input type="number" formControlName="latitude">
        <br>
    </div>
    <button (click)="onSave()">Save</button>
</form>
