<div class="container">
  <h2 class="title">Company details</h2>
  <hr />
  <br />
  <table>
    <tr>
      <th>Name</th>
      <td>{{ company.name }}</td>
    </tr>
    <tr>
      <th>Average grade</th>
      <td>{{ company.averageGrade }}</td>
    </tr>
    <tr>
      <th>Address</th>
      <td>
        <table>
          <tr>
            <th>City</th>
            <td>{{ company.address.city }}</td>
          </tr>
          <tr>
            <th>Country</th>
            <td>{{ company.address.country }}</td>
          </tr>
          <tr>
            <th>Street</th>
            <td>{{ company.address.street }}</td>
          </tr>
          <tr>
            <th>Street number</th>
            <td>{{ company.address.streetNumber }}</td>
          </tr>
          <tr>
            <th>Longitude</th>
            <td>{{ company.address.longitude }}</td>
          </tr>
          <tr>
            <th>Latitude</th>
            <td>{{ company.address.latitude }}</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <th>Equipment:</th>
      <td>
        <table class="table-equipment">
          <tr *ngFor="let e of company.equipment">
            <td>
              <div class="div-equipment">
                <div class="div-equipment-header">Name</div>
                <div class="span-equipment">{{ e.name }}</div>
              </div>
              <div class="div-equipment">
                <div class="div-equipment-header">Description</div>
                <div class="span-equipment">{{ e.description }}</div>
              </div>
              <div class="div-equipment">
                <div class="div-equipment-header">Type</div>
                <div class="span-equipment">{{ e.type }}</div>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <br />
  <h2 class="title" *ngIf="isRegisteredUser()">Equipment search</h2>
  <hr *ngIf="isRegisteredUser()" />
  <br />
  <div *ngIf="isRegisteredUser()">
    <label>Search by name: </label>

    <input class="fancy-input" type="text" [(ngModel)]="name" />
    <br /><br />
    <button class="fancy-search-btn" (click)="onSearch()">Search</button>

    <div *ngIf="equipmentList.length > 0">
      <h4>Equipment</h4>
      <table border="1">
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Description</th>
          <th *ngIf="isRegisteredUser()">Choose</th>
        </tr>
        <tr *ngFor="let e of equipmentList">
          <td>{{ e.name }}</td>
          <td>{{ e.type }}</td>
          <td>{{ e.description }}</td>
          <td *ngIf="isRegisteredUser()">
            <button class="fancy-search-btn" (click)="onChoose(e)">
              Choose
            </button>
          </td>
        </tr>
      </table>
    </div>

    <div>
      <h5 class="title">Filters</h5>

      <label>Type:</label>

      <input class="fancy-input" type="text" [(ngModel)]="filterType" />
      <br /><br />

      <div>
        <button class="fancy-filter-btn" (click)="onFilter()">Filter</button>
        <button class="fancy-reset-btn" (click)="onReset()">Reset</button>
      </div>
    </div>
  </div>
  <br /><br />

  <h2 class="title" *ngIf="isRegisteredUser()">Your equipment to buy:</h2>
  <hr *ngIf="isRegisteredUser()" />

  <div *ngIf="chosenItemsList.length > 0">
    <h4>Equipment</h4>
    <table border="1">
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Quantity</th>
      </tr>
      <tr *ngFor="let e of chosenItemsList">
        <td>{{ e.equipment.name }}</td>
        <td>{{ e.equipment.type }}</td>
        <td>{{ e.equipment.description }}</td>
        <td>{{ e.quantity }}</td>
      </tr>
    </table>
    <button
      class="fancy-search-btn"
      *ngIf="chosenItemsList.length > 0"
      (click)="onShowCalendar()"
    >
      Show appointments</button
    ><br /><br /><br />

    <div class="grid-div" *ngIf="isShowCalendarClicked">
      <div class="grid-item appointments">
        <div>
          <h2 class="title">
            Available appointments
            <button
              class="fancy-search-btn"
              (click)="onExtraAppointment()"
              *ngIf="isRegisteredUser()"
            >
              Extraordinary appointment
            </button>
            <hr />
          </h2>

          <div>
            <table border="1">
              <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Duration</th>
                <th>Admin's name</th>
                <th>Admin's surname</th>
                <th>Status</th>
                <th>Reserve</th>
              </tr>
              <tr *ngFor="let e of availableUserAppointments">
                <td>{{ e.date }}</td>
                <td>{{ e.time }}</td>
                <td>{{ e.duration }}</td>
                <td>{{ e.admin?.name }}</td>
                <td>{{ e.admin?.surname }}</td>
                <td>{{ e.appointmentStatus }}</td>
                <td>
                  <button class="fancy-search-btn" (click)="onReserve(e)">
                    Reserve
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <br /><br />
      <div class="grid-item extra-appointment">
        <div class="extra-term" *ngIf="isExtraTermClicked">
          <h2 class="title">Enter date for extraordinary term:</h2>
          <hr />
          <input
            class="fancy-input"
            type="date"
            min="{{ currentDate | date : 'yyyy-MM-dd' }}"
            [(ngModel)]="extraDate"
          />
          <button class="fancy-search-btn" (click)="onFindFreeSlots()">
            Find free slots
          </button>
        </div>
        <div *ngIf="isExtraTermClicked">
          <table border="1">
            <tr>
              <th>Start time</th>
              <th>Duration</th>
              <th>Reserve</th>
            </tr>
            <tr *ngFor="let e of freeSlots">
              <td>{{ e }}</td>
              <td>60 min</td>
              <td>
                <button class="fancy-search-btn" (click)="onCreateExtraTerm(e)">
                  Reserve
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
