<div class="login-container">
    <form>
      <h2>Login</h2>
  
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" formControlName="username" required>
      </div>
  
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" required>
      </div>
  
      <button type="submit">Login</button>
      <br><br>
      <div>
        <label >Don't have an account? <a href="http://localhost:4200/registration">Sign Up</a></label>
    </div>

    </form>
  </div>
  