<div class="search-container">
  <h2 class="search-heading">All companies / Company Search</h2>
  <p>Please enter parameters you want to search by:</p>
  <label>Enter company name:</label>
  <input type="text" class="fancy-input" [(ngModel)]="name" />
  <label>Enter company city:</label>
  <input type="text" class="fancy-input" [(ngModel)]="city" />
  <br /><br />
  <button class="fancy-search-btn" (click)="search()">Search</button>
  <button class="fancy-reset-btn" (click)="reset()">Reset</button>
  <br /><br /><br /><br />
  <label for="minRating">Min rating:</label>
  <input
    class="min-max"
    type="number"
    id="minRating"
    name="minRating"
    [(ngModel)]="minRating"
  />

  <label for="maxRating">Max rating:</label>
  <input
    class="min-max"
    type="number"
    id="maxRating"
    name="maxRating"
    [(ngModel)]="maxRating"
  />
  <br /><br />
  <button
    class="fancy-filter-btn"
    [disabled]="filterDisabled"
    (click)="filter()"
  >
    Filter
  </button>

  <table>
    <tr *ngFor="let c of companies">
      <td class="company-card" (click)="showDetails(c)">
        <span>Name:</span> {{ c.name }}
        <br />
        <span>Average grade: </span>{{ c.averageGrade }}
        <br />
        <span>Address:</span> {{ c.address.country }},{{ c.address.city }},{{
          c.address.street
        }},{{ c.address.streetNumber }}
        <br />
      </td>
    </tr>
  </table>
</div>
