.search-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-heading {
  color: #333;
}

#search-parameter {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  border-radius: 4px;
}

label {
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
  color: #555;
}

.fancy-input {
  border: none;
  border-radius: 20px;
  padding: 5px;
  font-size: 16px;
  background: linear-gradient(#ffffff, #ccceee);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.fancy-search-btn,
.fancy-filter-btn {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.fancy-filter-btn[disabled] {
  pointer-events: none;
  background-color: #86bcea;
}

.fancy-reset-btn {
  background-color: red;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.fancy-search-btn:hover,
.fancy-filter-btn:hover {
  background-color: #286090;
  cursor: pointer;
}

.fancy-reset-btn:hover {
  background-color: rgb(196, 9, 9);
  cursor: pointer;
}

.filter-container {
  margin-top: 20px;
}

#filter-rating {
  width: 100%;
  margin-bottom: 10px;
}

#filter-rating:hover {
  cursor: pointer;
}
.min-max {
  border: none;
  border-radius: 20px;
  padding: 5px;
  font-size: 16px;
  background: linear-gradient(#ffffff, #ccceee);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

tr {
  border-bottom: 1px solid #ccc;
}

.company-card {
  background: linear-gradient(#add8e6, #92b6d8);
  border: 0 solid;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 15px;
  max-width: 500px;
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
}

.company-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  opacity: 0.8;
  cursor: pointer;
  transform: translateY(-3px);
}
.company-card span {
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.company-card span:first-child {
  font-size: 1.2em;
}
