<form [formGroup]="adminForm" id="adminForm">
    <h2 class="title">Register new company administrator</h2>

    <table>
        <tr>
            <td>
                <label>Name:</label>
            </td>
            <td>
                <input type="text" formControlName="name">
            </td>
        </tr>
        <tr>
            <td>
                <label>Surname:</label>
            </td>
            <td>
                <input type="text" formControlName="surname">
            </td>
        </tr>
        <tr>
            <td>
                <label>Username:</label>
            </td>
            <td>
                <input type="text" formControlName="username">
            </td>
        </tr>
        <tr>
            <td>
                <label>Password:</label>
            </td>
            <td>
                <input type="text" formControlName="password">
            </td>
        </tr>
        <tr>
            <td>
                <label>Email:</label>
            </td>
            <td>
                <input type="text" formControlName="email">
            </td>
        </tr>
        <tr>
            <td>
                <label>Phone number:</label>
            </td>
            <td>
                <input type="text" formControlName="phoneNumber">
            </td>
        </tr>
        <tr>
            <td>
                <label>City:</label>
            </td>
            <td>
                <input type="text" formControlName="city">
            </td>
        </tr>
        <tr>
            <td>
                <label>Country:</label>
            </td>
            <td>
                <input type="text" formControlName="country">
            </td>
        </tr>
        <tr>
            <td>
                <label>Information about company:</label>
            </td>
            <td>
                <input type="text" formControlName="infoAboutInstitution">
            </td>
        </tr>
        <tr>
            <td>
                <label>Company: </label>
            </td>
            <td>
                <select (change)="onSelectCompany" formControlName="company">
                    <option *ngFor="let c of companies" [ngValue]="c">{{c.name}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button (click)="onSave()" class="saveButton">Save</button>
            </td>
        </tr>
    </table>
</form>
