<form [formGroup]="adminForm">
    <h2>Register new company administrator</h2>
    <label>Name:</label>
    <input type="text" formControlName="name">
    <br>

    <label>Surname:</label>
    <input type="text" formControlName="surname">
    <br>

    <label>Username:</label>
    <input type="text" formControlName="username">
    <br>

    <label>Password:</label>
    <input type="text" formControlName="password">
    <br>

    <label>Email:</label>
    <input type="text" formControlName="email">
    <br>

    <label>Phone number:</label>
    <input type="text" formControlName="phoneNumber">
    <br>

    <label>City:</label>
    <input type="text" formControlName="city">
    <br>

    <label>Country:</label>
    <input type="text" formControlName="country">
    <br>

    <label>Information about company:</label>
    <input type="text" formControlName="infoAboutInstitution">
    <br>

    <select (change)="onSelectCompany" [(ngModel)]="selectedCompany">
        <option *ngFor="let c of companies" [ngValue]="c">{{c.name}}</option>
    </select>
    <button (click)="onSave()">Save</button>
</form>
