.search-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-heading {
  color: #333;
}

#search-parameter {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  border-radius: 4px;
}

label {
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
  color: #555;
}

.fancy-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.fancy-search-btn,
.fancy-filter-btn {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.fancy-search-btn:hover,
.fancy-filter-btn:hover {
  background-color: #286090;
  cursor: pointer;
}

.filter-container {
  margin-top: 20px;
}

#filter-rating {
  width: 100%;
  margin-bottom: 10px;
}

#filter-rating:hover {
  cursor: pointer;
}

.card-container {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 20px;
  overflow-y: scroll;
  height: 500px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 90%;
  max-width: 650px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
  border: 1px solid palegreen;
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
  color: #333;
  margin-bottom: 4px;
  font-weight: bold;
}

.card-info {
  color: #666;
  margin-bottom: 2px;
}
