<div>
    <p>Company profile</p>
    <hr>
    <div class="all-fields">
    <div class="fields">
       <div><label><b>Name:</b></label></div>
       <div>
        <input
        disabled={{disabledStatus}}
        type="text"
        [(ngModel)]="company.name"
        />
        <span *ngIf="disabledStatus==false && isValidName()==false " style="color: red">
            Invalid name!
          </span>
       </div>
    </div>
    <div>
        <div class="fields">
        <div><label><b>Average grade:</b></label></div>
        <input
        disabled={{disabledStatus}}
        type="number"
        min="0"
        [(ngModel)]="company.averageGrade"
        />
        </div>
    </div>
    <div>
        <div class="fields">
        <div><label><b>Opening hours: {{company.openingHours}}</b></label></div>
        <input
        disabled={{disabledStatus}}
        type="time"
        [(ngModel)]="company.openingHours"
        />
        </div>
    </div>
    <div>
        <div class="fields">
        <div><label><b>Closing hours: {{company.closingHours}}</b></label></div>
        <input
        disabled={{disabledStatus}}
        type="time"
        [(ngModel)]="company.closingHours"
        />
        </div>
    </div>
                                                     
    <div>
    <p class="address">Address:</p>                                             
    <div class="fields">
        <div><label><b>City:</b></label></div>
        <div>
        <input
        disabled={{disabledStatus}}
        type="text"
        [(ngModel)]="company.address.city"
        />
        </div>
    </div>
    <div class="fields">
        <div><label><b>Country:</b></label></div>
        <div>
        <input
        disabled={{disabledStatus}}
        type="text"
        [(ngModel)]="company.address.country"
        />
        </div>
    </div>
    <div class="fields">
        <div><label><b>Street:</b></label></div>
        <div>
        <input
        disabled={{disabledStatus}}
        type="text"
        [(ngModel)]="company.address.street"
        />
        </div>
    </div>
    <div class="fields">
        <div><label><b>Street number:</b></label></div>
        <div>
        <input
        disabled={{disabledStatus}}
        type="text"
        [(ngModel)]="company.address.streetNumber"
        />
        </div>
    </div>
    </div>
    <button (click)="OnEdit()">{{edit}}</button>   <span *ngIf="disabledStatus==false && isValidName()==false " style="color: red">
        Invalid input! Please correct it!
      </span>
    <div>
        <p class="address">Other admins:</p>
        <table border="1">
            <thead>
                <th>Name</th>
                <th>Surname</th>
                <th>Username</th>
                <th>City</th>
                <th>Country</th>
                <th>Email</th>
                <th>Phone number</th>
            </thead>
            <tbody>
                <tr *ngFor="let a of admins">
                    <td>{{a.name}}</td>
                    <td>{{a.surname}}</td>
                    <td>{{a.username}}</td>
                    <td>{{a.city}}</td>
                    <td>{{a.country}}</td>
                    <td>{{a.email}}</td>
                    <td>{{a.phoneNumber}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <p class="address">Available equipment</p>
    </div>
    <div>
        <table border="1">
            <thead>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
            </thead>
            <tr *ngFor="let e of company.equipment">
                <td>{{e.name}}</td>
                <td>{{e.description}}</td>
                <td>{{e.type}}</td>
                <td>{{e.price}}</td>
                <td>{{e.quantity}}</td>
                <td><button (click)="OnMinus(e)">-</button></td>
                <td><button (click)="OnEquipmentUpdate(e,e.equipment_id||0)">Update</button></td>
            </tr>
            <tr>
                <button (click)="OnPlus()">+</button>
            </tr>
        </table>
        <div>
            <form [formGroup]="equipmentForm" *ngIf="equipmentFormVisible">
                <div>
                Name:<input type="text" class="inputEquipmentName" required  placeholder="name" formControlName="name">
                <span *ngIf="isValidEquipmentName()==false && equipmentForm.touched" style="color: red">
                    Invalid name!
                  </span>
                </div>
                <div>
                Description:<input type="text" required  placeholder="description" formControlName="description">
                <span *ngIf="isValidEquipmentDescription()==false && equipmentForm.touched" style="color: red">
                    Invalid description!
                  </span>
                </div>
                <div>
                    Price:<input type="number" class="inputEquipment" required  placeholder="price" formControlName="price">
                    <span *ngIf="isValidEquipmentPrice()==false && equipmentForm.touched" style="color: red">
                        Invalid price!
                      </span>
                </div>
                <div>
                    Quantity:<input type="number" class="inputEquipmentQuantity" required  placeholder="quantity" formControlName="quantity">
                    <span *ngIf="isValidEquipmentQuantity()==false && equipmentForm.touched" style="color: red">
                        Invalid quantity!
                      </span>
                </div>
                <div>
                    Type:<input class="inputEquipment"  type="text" required   placeholder="type" formControlName="type">
                    <span *ngIf="isValidEquipmentType()==false && equipmentForm.touched" style="color: red">
                        Invalid type!
                      </span>
                    </div>
                <button (click)="OnConfirm()">Confirm</button>
            </form>
        </div>
    </div>
    <br>
    <p>Working time calendar</p>
    <div>
        <table border="1">
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Time
                </th>
                <th>
                    Duration
                </th>
                <th>
                    Admin's name
                </th>
                <th>
                    Admin's surname
                </th>
                <th>
                    Status
                </th>
            </tr>
            <tr *ngFor="let e of company.workingTimeCalendar.appointments">
                <td>{{e.date}}</td>
                <td>{{e.time}}</td>
                <td>{{e.duration}}</td>
                <td>{{e.admin?.name}}</td>
                <td>{{e.admin?.surname}}</td>
                <td>{{e.appointmentStatus}}</td>
            </tr>
            <tr>
                <button (click)="onAppointmentPlus()">+</button>
            </tr>
        </table>
        <div *ngIf="appointmentFormVisible">
            <h3>Choose date and time. Duration of every appointment is 1h.</h3>
            <form [formGroup]="appointmentForm">
                <table>
                    <tr>
                        <td>
                            Date:
                        </td>
                        <td>
                            <input type="date" formControlName="date" min="{{currentDate | date:'yyyy-MM-dd'}}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Time:
                        </td>
                        <td>
                            <input type="time" formControlName="time" min="08:00:00" max="10:00:00">
                        </td>
                    </tr>
                    <tr>
                        <button (click)="onConfirmAppointment()">Confirm</button>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <br>

    <p>Equipment search</p>
<div>
    <table>
        <tr>
            <td>
                <label>Search by name: </label>
            </td>
            <td>
                <input type="text" placeholder="search by name" [(ngModel)]="name">
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <button (click)="onSearch()">Search</button>
            </td>
        </tr>
    </table>

    <div *ngIf="equipmentList.length > 0">
        <h4>Equipment</h4>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
            <tr *ngFor="let e of equipmentList">
                <td>{{e.name}}</td>
                <td>{{e.type}}</td>
                <td>{{e.description}}</td>
            </tr>
        </table>
    </div>

    <div>
        <h5>Filters</h5>
        <table>
            <tr>
                <td>Type: </td>
                <td>
                    <input type="text" [(ngModel)]="filterType" placeholder="type">
                </td>
            </tr>
        </table>
        <div>
            <button (click)="onFilter()">Filter</button>
            <button (click)="onReset()">Reset filters</button>
        </div>
    </div>
</div>
<div id="map-frame">
    <div id="map"></div>
</div>

</div>

