<p>Equipment search</p>
<div>
    <table>
        <tr>
            <td>
                <label>Search by name: </label>
            </td>
            <td>
                <input type="text" placeholder="search by name" [(ngModel)]="name">
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <button (click)="onSearch()">Search</button>
            </td>
        </tr>
    </table>

    <div *ngIf="equipment.length > 0">
        <h4>Equipment</h4>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
            <tr *ngFor="let e of equipment">
                <td>{{e.name}}</td>
                <td>{{e.type}}</td>
                <td>{{e.description}}</td>
                <td>
                    <p>Companies that have {{e.name}}</p>
                    <table border="1">
                        <tr>
                            <th>Name</th>
                        </tr>
                        <tr *ngFor="let c of e.companies">
                            <td>{{c.name}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <div>
        <h5>Filters</h5>
        <table>
            <tr>
                <td>Type: </td>
                <td>
                    <input type="text" [(ngModel)]="filterType" placeholder="type">
                </td>
            </tr>
            <tr>
                <td>Company name: </td>
                <td>
                    <input type="text" [(ngModel)]="filterCompanyName" placeholder="company name">
                </td>
            </tr>
            <tr>
                <td>Company average grade: </td>
                <td>
                    <span>
                        <input type="number" [(ngModel)]="filterCompanyGradeFrom" min="0" max="10" placeholder="from">
                        <input type="number" [(ngModel)]="filterCompanyGradeTo" min="0" max="10" placeholder="to">
                    </span>
                </td>
            </tr>
        </table>
        <div>
            <button (click)="onFilter()">Filter</button>
            <button (click)="onReset()">Reset filters</button>
        </div>
    </div>
</div>
