<div>
    <p>Please set your password!</p>
    <div>
        <label>Password:</label>
        <input type="text" [(ngModel)]="password">
        <span *ngIf="isLongPassword()==false " style="color: red">
            Invalid password!
          </span>
    </div>
    <div>
        <label>Repeated password:</label>
        <input type="text" [(ngModel)]="repetredPassword">
        <span *ngIf="isRepetedPasswodCorrect()==false " style="color: red">
            Repeted password and password aren't same!
          </span>
    </div>
    <button (click)="OnConfirm()">Confirm</button>
</div>
