.change-password-div {
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
}

.change-password-div p {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}

.change-password-div label {
  display: block;
  margin-bottom: 5px;
}

.change-password-div input {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.change-password-div button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.change-password-div button:hover {
  background-color: #0056b3;
}
