<button [routerLink]="['user-profile']">Profile</button>
<button [routerLink]="['registration']">Registration</button>
<button [routerLink]="['company-search']">Company search</button>
<button [routerLink]="['company-form']">Company</button>
<button [routerLink]="['system-admin-form']">System admin</button>
<button [routerLink]="['company-admin-form']">Company admin</button>
<button [routerLink]="['company-admin-profile']">Company Admin Profile</button>
<button [routerLink]="['companies']">All companies</button>
<router-outlet></router-outlet>
