<div class="navbar">
  <button
    *ngIf="isLoggedIn() && isRegisteredUser()"
    [routerLink]="['user-profile']"
    class="navbar-btn"
    (click)="showRegUserHomePage = false"
  >
    Profile
  </button>
  <button
    *ngIf="isLoggedIn() && isRegisteredUser()"
    [routerLink]="['future-appointments']"
    class="navbar-btn"
    (click)="showRegUserHomePage = false"
  >
    My future appointments
  </button>
  <button
    [routerLink]="['equipment-search']"
    class="navbar-btn"
    (click)="showRegUserHomePage = false"
  >
    Equipment search
  </button>
  <button
    *ngIf="isLoggedIn() && isSystemAdmin()"
    [routerLink]="['system-admin-home-page']"
    class="navbar-btn"
  >
    System admin home page
  </button>
  <button
    *ngIf="isLoggedIn() && !isRegisteredUser() && !isSystemAdmin()"
    [routerLink]="['company-admin-profile']"
    class="navbar-btn"
  >
    Company Admin Profile
  </button>
  <button

  *ngIf="isLoggedIn() && !isRegisteredUser() && !isSystemAdmin()"
  [routerLink]="['users-reservation']"
  class="navbar-btn"
>
  Users with reservations
</button>
<button
*ngIf="isLoggedIn() && !isRegisteredUser() && !isSystemAdmin()"
[routerLink]="['company-calendar/1']"
class="navbar-btn"
>
Calendar
</button>
<button
*ngIf="isLoggedIn() && !isRegisteredUser() && !isSystemAdmin()"
[routerLink]="['equipment-delivery/1']"
class="navbar-btn"
>
Delivery
</button>
<button
*ngIf="isLoggedIn() && !isRegisteredUser() && !isSystemAdmin()"
[routerLink]="['company/1/1']"
class="navbar-btn"
>
Company profile
</button>
  <button [routerLink]="['companies']" class="navbar-btn"
    (click)="showRegUserHomePage = false"
  >
    All companies
  </button>

  <button
    *ngIf="isLoggedIn() && isRegisteredUser()"
    [routerLink]="['qr']"
    class="navbar-btn"
    (click)="showRegUserHomePage = false"
  >
    QR codes
  </button>
  <button
    *ngIf="isLoggedIn() && isRegisteredUser()"
    [routerLink]="['my-deliveries']"
    class="navbar-btn"
    (click)="showRegUserHomePage = false"
  >
    My deliveries
  </button>
  <button
    *ngIf="isLoggedIn() && !isRegisteredUser()"
    [routerLink]="['contracts']"
    class="navbar-btn"
  >
    Contracts
  </button>
  <button
    *ngIf="!isLoggedIn()"
    [routerLink]="['registration']"
    class="navbar-btn"
  >
    Registration
  </button>
  <button *ngIf="!isLoggedIn()" [routerLink]="['login']" class="navbar-btn">
    Login
  </button>
  <button *ngIf="isLoggedIn()" (click)="logout()" class="navbar-btn">
    Logout
  </button>
</div>
<div class="router-content">
  <app-reg-user-home-page
    *ngIf="isRegisteredUser() && showRegUserHomePage"
  ></app-reg-user-home-page>
  <router-outlet></router-outlet>
</div>
