<h1>Delivery</h1>
<br>
<h3>Reservation:</h3>
<table border="1">
    <tr>
        <th>
            Date
        </th>
        <th>
            Time
        </th>
        <th>
            Items
        </th>
        <th>
            User
        </th>
        <th>
            Deliver
        </th>
    </tr>
    <tr >
        <td>{{reservations.appointment.date}}</td>
        <td>{{reservations.appointment.time}}</td>
        <td>
            <table border="1">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Quantity
                    </th>
                </tr>
                <tr *ngFor="let i of reservations.items">
                    <td>
                        {{i.equipment.name}}
                    </td>
                    <td>
                        {{i.equipment.description}}
                    </td>
                    <td>
                        {{i.equipment.quantity}}
                    </td>
                </tr>
            </table>
        </td>
        <td>
            {{reservations.user.name}} {{reservations.user.surname}}
        </td>
        <td>
           <button (click)="OnDeliver(reservations)"> Deliver</button>
        </td>
    </tr>
    
</table>

